
@model Libraries
@{
    TempData["Title"] = "Update Book";
}
<div class="content container-fluid">

                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="page-title">Update Books</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Library">Library</a></li>
                                <li class="breadcrumb-item active">Update Books</li>
                            </ul>
                        </div>
                    </div>
                </div>
                @if (@Model != null)
    {
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form asp-action="EditBook" method="post">
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="form-title"><span>Book Information</span></h5>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label asp-for="Name"> </label>
                                        <input type="text"  value="@Model.Name" Asp-for="Name" class="form-control">
                                        <span asp-validation-for="Name" class="text-danger"> </span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label asp-for="Language"> </label>
                                        <select Asp-for="Language" class="form-control select">
                                            <option>Select Language</option>
                                            <option>English</option>
                                            <option>Turkish</option>
                                            <option>Chinese</option>
                                            <option>Spanish</option>
                                            <option>Arabic</option>
                                        </select>
                                        <span asp-validation-for="Language" class="text-danger"> </span>

                                    </div>
                                </div>

                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label asp-for="Type"></label>
                                        <select Asp-for="Type" class="form-control select">
                                            <option>Select Type</option>
                                            <option>Book</option>
                                            <option>DVD</option>
                                            <option>CD</option>
                                            <option>Newspaper</option>
                                        </select>
                                        <span asp-validation-for="Type"  class="text-danger"> </span>

                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label asp-for="Status"> </label>
                                        <select Asp-for="Status" class="form-control select">
                                            <option>Select Status</option>
                                            <option>In Stock</option>
                                            <option>Out of Stock</option>
                                        </select>
                                        <span asp-validation-for="Status" class="text-danger"> </span>

                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="form-group local-forms">
                                        <label asp-for="DepartmentIdFk"> </label>
                                        <select Asp-for="DepartmentIdFk" class="form-control select">
                                            @foreach (var i in ViewBag.DepartmentIdFkNavigation)
                                            {
                                                <option value="@i.Id">@i.Name</option>
                                            }

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="student-submit">
                                                <button type="submit" name="submit" asp-route-SID="@Model.Id" class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>}
            </div>
