@model Courses
@{
    TempData["Title"] = "Add Course";
}
<div class="content container-fluid">

                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="page-title">Add Courses</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Course">Course</a></li>
                                <li class="breadcrumb-item active">Add Courses</li>
                            </ul>
                        </div>
                    </div>
                </div>



        <div class="row">
            <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <form asp-action="AddCourse" method="post">
                                    <div class="row">
                                        <div class="col-12">
                                            <h5 class="form-title"><span>Course Information</span></h5>
                                        </div>
                                        <div class="col-12 col-sm-4">
                                            <div class="form-group local-forms">
                                                <label asp-for="Name"> </label>
                                                <input type="text"  Asp-for="Name" class="form-control">
                                                <span asp-validation-for="Name" class="text-danger"> </span>
                                            </div>
                                        </div>
                                       
                                        
                                        <div class="col-12">
                                            <div class="student-submit">
                                                <button type="submit" name="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
